.table-container {
    margin: 20px;
}
  
.students-table {
    width: 100%;
    border-collapse: collapse;
}
  
.students-table th,
.students-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
  
.students-table th {
    background-color: #636363;
    color: white;
}
  
.text_color_dark{
    color: black;
}

.text_color_light{
    color: white;
}

.no_students{
    margin: 10px;
}